@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #0b0f1c;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-main-dark: #0b0f1c;
  --brand-main-color: #fc6200;
}

@utility main-bg {
  background-color: var(--color-main-dark);
}
@utility brand-bg {
  background-color: var(--brand-main-color);
}

@utility main-color {
  color: var(--brand-main-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Reduce el tamaño del placeholder a 12 píxeles */
input::placeholder {
  font-size: 12px;
}

/* Opcional: También compatible para navegadores antiguos */
input::-webkit-input-placeholder {
  font-size: 12px;
}
input::-moz-placeholder {
  font-size: 12px;
}
input::-ms-input-placeholder {
  font-size: 12px;
}

.buttonGradientBg {
  background: linear-gradient(90deg, #fc6200, #dd312a);
  color: white;
  padding: 10px 20px;
  border-radius: 9999px; /* Rounded full */
  font-weight: bold;
  transition: background 0.3s ease;
}
.buttonGradientBg:hover {
  background: linear-gradient(90deg, #dd312a, #fc6200);
}

.clainOfferBtn {
  background: linear-gradient(90deg, #fc6200, #dd312a);
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  border-radius: 9999px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.clainOfferBtn:hover {
  background: linear-gradient(90deg, #dd312a, #fc6200);
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  border-radius: 9999px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.clainOfferBtn:active {
  background: linear-gradient(90deg, #dd312a, #fc6200);
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  border-radius: 9999px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.bgGradient {
  background: linear-gradient(90deg, #fc6200, #dd312a);
}

.glow-card {
  /* Normal State */
  background: #131929;
  border: 1px solid #2a2f45;
  border-radius: 16px;

  /* Transition goes here for smooth hover in AND out */
  transition: all 0.3s ease;

  /* Optional: Makes it clear the element is interactive */
  cursor: pointer;
}

/* Hover State */
.glow-card:hover {
  border-color: #fc6200;
  box-shadow: 0 0 20px rgba(252, 98, 0, 0.15);
}

/* Click / Active State */
.glow-card:active {
  border-color: #ff7a1a;
  box-shadow: 0 0 30px rgba(252, 98, 0, 0.25);
}
