@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #0b0f1c;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-main-dark: #0b0f1c;
  --brand-main-color: #fc6200;
}

@utility main-bg {
  background-color: var(--color-main-dark);
}
@utility brand-bg {
  background-color: var(--brand-main-color);
}

@utility main-color {
  color: var(--brand-main-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Reduce el tamaño del placeholder a 12 píxeles */
input::placeholder {
  font-size: 12px;
}

/* Opcional: También compatible para navegadores antiguos */
input::-webkit-input-placeholder {
  font-size: 12px;
}
input::-moz-placeholder {
  font-size: 12px;
}
input::-ms-input-placeholder {
  font-size: 12px;
}

.buttonGradientBg {
  background: linear-gradient(90deg, #fc6200, #dd312a);
  color: white;
  padding: 10px 20px;
  border-radius: 9999px; /* Rounded full */
  font-weight: bold;
  transition: background 0.3s ease;
}
.buttonGradientBg:hover {
  background: linear-gradient(90deg, #dd312a, #fc6200);
}

.clainOfferBtn {
  background: linear-gradient(90deg, #fc6200, #dd312a);
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  border-radius: 9999px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.clainOfferBtn:hover {
  background: linear-gradient(90deg, #dd312a, #fc6200);
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  border-radius: 9999px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.clainOfferBtn:active {
  background: linear-gradient(90deg, #dd312a, #fc6200);
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  border-radius: 9999px;
  font-weight: bold;
  transition: background 0.3s ease;
}
